p img{
    display: inline;
    height: 20px;
}

body{
    --color-main: rgb(81, 81, 81);
    --color-main-contrast: #f0f0f0;   
    --color-accent: rgb(50, 125, 200);
    --color-accent-contrast: var(--color-accent-contrast);

    font-size: 18px;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    color: var(--color-main);
    background-color: var(--color-main-contrast);
}

b,a{
    color: var(--color-accent);
}

section{
    h2{
        color: var(--color-main-contrast);
        background-color: var(--color-accent);
        padding: 3px 10px;
    }
}

section.summary{
    flex-basis:300px;
    flex-grow: 1;

    .name-portrait{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .portrait {
            --width: 200px;
            --height: calc(var(--width) * 1.2);
            --border-thickness: 5px;
            height: var(--height);
            width: var(--width);
            overflow: hidden;
            position: relative;
            margin: 20px;

            &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                z-index: -1;
                width: var(--width);
                height: var(--width);
                background-color: var(--color-accent);
                border-radius: calc(var(--width) / 2);
            }
            img {
                height: calc( var(--height) - (2 * var(--border-thickness)));
                width: calc( var(--width) - (2 * var(--border-thickness)));
                margin: var(--border-thickness);
                position: absolute;
                left:0;
                object-fit: cover;
                --img-border-radius: calc((var(--width) / 2) - var(--border-thickness));
                border-bottom-left-radius: var(--img-border-radius);
                border-bottom-right-radius: var(--img-border-radius);

            }
        }
        h1{
            font-size: 2.5em;
            margin: 0;
            &:first-line{
                color: var(--color-accent);
                font-size: 1.7em;
            }
        }
        & > p{
            margin: 5px;
            font-size: 1.25em;
        }
    }

    .about-me{
        padding: 20px;
        padding-bottom: 0px;
        text-align: justify;
    }
}



.technologies{
    img{
        height:2em;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 30px;
    }
    .stargrid{
        flex-grow: 1;
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 10px;
        margin: 10px;
        margin-bottom:0px;
        &:last-of-type{
            margin-bottom: 10px;
        }
        div{
            display: grid;
            grid-template-columns:  subgrid;
            grid-column-start: 1;
            grid-column-end: 4;

            align-items: center;

            .stars{
                color:var(--color-accent);
            }
        }
    }
    .also{
        margin: 10px;
        margin-top: 30px;
        img{
            height: 30px;
        }
    }
}

.hobbies{
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        div{
            display: flex;
            align-items: center;
            .icon{
                filter: grayscale(100%);
                font-size: 30px;
            }
        }        
    }
    margin-bottom: 20px
}

.contact{
    border-top: 15px solid var(--color-accent);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding-top: 20px;
    a{
        color: var(--color-main);
        font-weight: 700;
        text-decoration: none;
    }
    div{
        display: flex;
        column-gap: 0.5em;
        align-items: center;
        --size: 30px;
        .icon{
            font-size: var(--size);
            width: var(--size);
        }
        svg.icon{
            height: var(--size);
        
        }
    }
}

section.experience{
    flex-basis:400px;
    background-color: var(--color-main);
    flex-grow: 1;
    ol{
        padding: 0px;
    }
    li{
        list-style: none;
        margin: 40px 20px;
        hgroup{
            display: grid;
            grid-template-columns: auto 1fr auto;
            margin-bottom: 20px;
            h3 {
                margin:0px;
                color: var(--color-main-contrast);
                grid-column: 2;
                font-weight: 500;
            }
            p{
                margin:0px;
                grid-column: 2;
                font-size: 1.1em;
                color: color-mix(in srgb, var(--color-accent), white 50%);
            }
            img{
                grid-row: 1 / span 2;
                height: 40px;
                margin-right:10px;
            }
            .date{
                grid-column: 3;
                grid-row: 2;
                text-align: right;
                font-size: 1.1em;
                color: color-mix(in srgb, var(--color-accent), white 50%);
            }
        }
        & > p{
            background-color: var(--color-main-contrast);
            margin:0;
            padding:10px;
            text-align: justify;
            text-indent: 10px;;
            --border-radius: 10px;
            &:first-of-type{
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
            }
            &:last-of-type{
                border-bottom-left-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);
            }
        }
        
    }
}

section.projects{
    flex-basis: 100%;
    h2{
        text-align: center;
    }
}